* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.navbar {
  background: #0d6efd;
  color: white;
  padding: 15px;
}

.product-card {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 6px;
}

button {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.footer {
    background-color: #0d6efd;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}